.jumbotron
{
    padding:70px 30px 70px 30px;
    background:rgb(90, 151, 231);
    color:whitesmoke;

}
#jumbo{
    background-color: rgb(146, 70, 218);
}
.footer
{
    background-color:rgba(186, 212, 208, 0.726);
}
body{
    padding:50px 0px 0px;
    z-index: 0px;
}
.navbar-dark
{
    background-color: indigo;
}
.navbar-brand
{
    padding-left:-50%
    
}